# Projeto ExcelSheetConsolidator

## Dúvidas:

- Total de colunas: 11
    - só muda se houver a solicitação de inclusão de mais campos

- Nome da aba é sempre "dados"?
    - Sim!

- Qual é a origem dos relatórios?
    - Resp: eles são extraídos do sistema de venda.

- Data é a data de realização da venda?
    - Sim!
    
- Quem são os compradores?
    - O nome do arquivo tem algo a ver com isso?
        - Nome do arquivo é configurado da seguinte forma:
        `nome do segmento - país onde foi realizada a venda`

## Motivo do Projeto:

O projeto "ExcelSheetConsolidator" foi concebido para automatizar e simplificar o processo de consolidação de dados provenientes de relatórios de vendas, extraídos de um sistema específico. O objetivo é criar uma planilha consolidada que reúna todas as informações relevantes em um único local, facilitando a análise e o gerenciamento desses dados.

### Passo a passo:

1. **Criar uma planilha em branco:**
   - Iniciar com uma planilha vazia que servirá como destino para os dados consolidados.

2. **Replicar as colunas existentes nos relatórios (11 colunas):**
   - Garantir que a estrutura da planilha de destino corresponda à dos relatórios originais.

3. **Inserir duas colunas novas: Segmento e País:**
   - Adicionar colunas adicionais para categorizar os dados por segmento e país, conforme especificado pelos nomes dos arquivos.

4. **Percorrer todos os arquivos, copiar os dados e colar na planilha consolidada, preenchendo as informações de segmento e país:**
   - Automatizar o processo de leitura e extração de dados de todos os arquivos de relatório, inserindo-os na planilha consolidada e preenchendo automaticamente as informações de segmento e país com base nos nomes dos arquivos.

Este projeto visa aumentar a eficiência e a precisão da consolidação de dados, eliminando a necessidade de intervenção manual e reduzindo possíveis erros humanos. Ele proporcionará uma visão abrangente e organizada das vendas, facilitando a tomada de decisões informadas e estratégicas.

In [2]:
import pandas as pd
import os
import datetime

In [3]:
data = datetime.datetime.now()

In [4]:
colunas = [
    'Tipo',
    'Cidade',
    'Produto',
    'Qtde de Unidades Vendidas',
    'Preço Unitário',
    'Valor Total',
    'Desconto',
    'Valor Total c/ Desconto',
    'Custo Total',
    'Lucro',
    'Data',
    'Mês',
    'Ano'
]
consolidado = pd.DataFrame(columns=colunas)

In [5]:
type(consolidado)

pandas.core.frame.DataFrame

In [6]:
consolidado

Empty DataFrame
Columns: [Tipo, Cidade, Produto, Qtde de Unidades Vendidas, Preço Unitário, Valor Total, Desconto, Valor Total c/ Desconto, Custo Total, Lucro, Data, Mês, Ano]
Index: []

In [7]:
arquivos = os.listdir("C:\\Users\\User\\Documents\\Projectos\\Python\\ExcelSheetConsolidator\\planilhas")

In [24]:
for arquivo in arquivos:

    dados_arquivos = arquivo.split('-')
    tipo = dados_arquivos[0]
    cidade = dados_arquivos[1].replace('.xlsx', '')

    # print(tipo)
    # print(cidade)
    df = pd.read_excel(f'planilhas\\{arquivo}')
    df.insert(0, 'Tipo', tipo)
    df.insert(1, 'Cidade', cidade)

    consolidado = pd.concat([consolidado, df])

C:\Users\User\AppData\Local\Temp\ipykernel_13984\4017330748.py:13: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  consolidado = pd.concat([consolidado, df])

In [27]:
consolidado.head(3)

,Tipo,Cidade,Produto,Qtde de Unidades Vendidas,Preço Unitário,Valor Total,Desconto,Valor Total c/ Desconto,Custo Total,Lucro,Data,Mês,Ano
0,Governo,Beira,Produto 1,1618.5,20,32370,0.0,32370.0,17803.5,14566.5,2019-01-01,Janeiro,2019
1,Governo,Beira,Produto 3,292.0,20,5840,0.0,5840.0,2920.0,2920.0,2019-02-01,Fevereiro,2019
2,Governo,Beira,Produto 3,1725.0,350,603750,0.0,603750.0,448500.0,155250.0,2018-11-01,Novembro,2018

In [29]:
# Numero de linhas e colunas
consolidado.shape

(700, 13)